.socialinks{
    display: flex;
    align-items: center;
    gap: 10px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background-color: aliceblue;
        border-radius: 50%;
        &:hover{
            background-color: #6244c4;
        }
        .btn{
            color: #252439;
        
        }
    }
}

@media screen and (max-width: 960px) {
.socialinks{
    gap: 5px;
    div{
        height: 30px;
        width: 30px;
    }
}
}